.request-list {
  table-layout: auto;
  width: 100%;
}

.request {
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
}

.request-even {
  background-color: #1e1e1e;
}

.request-list-column {
  max-width: 25vw;
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.request-list-column-collapsed {
  max-width: 15vw;
}

.request-list-header {
  font-weight: 700;
  text-align: left;
  padding-left: 4px;
}
