.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.header {
  position: sticky;
  top: 0;
  box-shadow:
    inset 1px 0 0 #4f4f4f,
    inset -1px 0 0 #4f4f4f,
    inset 0 -1px 0 #4f4f4f;
  background-color: #282828;
  padding: 8px;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
}

.row {
  padding: 8px;
  font-weight: 500;
  font-size: 12px;
}

.row:hover {
  cursor: pointer;
}

.column {
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.darken {
  background-color: #1e1e1e;
}

.collapsed {
  max-width: 15vw;
}

.expanded {
  width: 50vw;
  max-width: 50vw;
}

.selected {
  background-color: #2563eb;
  font-weight: 700;
}
