.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  font-size: 12px;
  font-weight: 500;
}

.container:hover,
.input:hover,
.label:hover {
  cursor: pointer;
  color: white;
}
