.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4f4f4f;
  padding: 8px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
