.requests-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.request-list-container {
  width: 100%;
  flex: 1;
}

.request-details-container {
  flex: 4;
  width: 100%;
  overflow: hidden;
}
