.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.requests {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 0;
}

.requestList {
  flex: 1;
  width: 100%;
}

.requestDetails {
  flex: 4;
  width: 100%;
  overflow: auto;
}
