:root {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282828;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
}

body {
  margin: 0;
}
